## Basics of Python

In [3]:
print("This is my first line of code")

This is my first line of code

In [5]:
print("Hello \nThis is the next line of code")

Hello
This is the next line of code

In [7]:
a = 6
b = 7

#addition
print(a+b)

#subtraction
print(a-b)

#multiplication
print(a*b)

#division
print(a/b)

#exponential
print(a ** b)

13
-1
42
0
279936

In [8]:
#BEDMAS
print ( 4* 5 - 9 + 6 / 7)

11

In [12]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

10
9

In [16]:
#Logical
print(3<4)
print(True and False)
print(True or False)
print(a!=b)
print(True and not False)

True
False
True
True
True

In [18]:
#rstrip -- remove whitespaces from right
sentence = "There is a space and the end "
print(sentence)
print(sentence.rstrip())

There is a space and the end
There is a space and the end

In [22]:
#rstrip with character to be removed
increment = '4%%%%4$%'
print(increment.rstrip('%'))
# Similarly lstrip for removing from left side

4%%%%4$

In [23]:
num_with_chars = '*444%'
print(num_with_chars.rstrip('%').lstrip('*'))

444

In [25]:
val = "2 apples"
no_of_apples = val[0]
print(no_of_apples)

2

In [26]:
what = val[2:]
print(what)

apples

In [27]:
#slicing by specifying start and end index
print(val[2:5])

app

In [28]:
batch = "5 oranges 3 monkeys n"
fruits = batch[:9]
print(fruits)

5 oranges

In [31]:
#Negative indices
# `-` is counted from the end of the string

# print every alternate character, starting from index 1
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [32]:
# increment is same, but start from index 0
odd_nums = nums[0::2]
print(odd_nums)

13579

In [34]:
# Another way of printing, using placeholders
A = "Data"
B = "Analysis"
C = "Pandas"
print("{0} {1} using {2}".format(A, B, C))

Data Analysis using Pandas

In [35]:
name = "Ravi_Kumar_003"
first = name.split("_")[0]
middle = name.split("_")[1]
code = name.split("_")[2]

print(first + middle + code)

RaviKumar003

In [36]:
string = "I love Python programming"
print(string[7:13])
print(string[7:12])
print(string[-12:-18])
print(string[-18:-12])

Python
Pytho

Python

In [37]:
len('Python')

6

## Data Structures in Python

### Lists

In [38]:
initial_list = []
print(initial_list)

[]

In [39]:
DA_languages = ['R', 'Python', 'SAS', 'Scala', 42]
print(DA_languages)

['R', 'Python', 'SAS', 'Scala', 42]

In [40]:
print(DA_languages[0])

R

In [41]:
print(DA_languages[1:3])

['Python', 'SAS']

In [42]:
print(DA_languages[0:2])

['R', 'Python']

In [43]:
print(DA_languages[-1])

42

In [44]:
print(DA_languages[2:])

['SAS', 'Scala', 42]

In [45]:
print(DA_languages[:-3])

['R', 'Python']

In [46]:
DA_languages.pop()

42

In [48]:
DA_languages.pop(0)
print(DA_languages)

['SAS', 'Scala']

In [49]:
DA_languages.append('R')
DA_languages.remove('R')
print(DA_languages)

['SAS', 'Scala']

`Python allows you to treat a list as queue or a stack`

In [51]:
new_list = DA_languages
DA_languages.append('Java')
print(new_list)

['SAS', 'Scala', 'Java']

In [52]:
sentence = "Hi Saif, this is to inform you that I am not well today"
print(sentence)

Hi Saif, this is to inform you that I am not well today

In [54]:
words = sentence.split()
print(words)

['Hi', 'Saif,', 'this', 'is', 'to', 'inform', 'you', 'that', 'I', 'am', 'not', 'well', 'today']

In [58]:
# Converts to CSV format of string (convert list to string)
mail = ",".join(words)
print(mail)

Hi,Saif,,this,is,to,inform,you,that,I,am,not,well,today

In [59]:
list = ["hi"]
print(list*5)

['hi', 'hi', 'hi', 'hi', 'hi']

In [60]:
print(list + list)

['hi', 'hi']

In [65]:
nums = [2,3,4,5,6,7]
print(len(nums + nums))

12

In [64]:
nest = [['SAS','R'],['Tab','SQL'],['Python','Java']]
print(nest[2][0])

Python

In [70]:
print(sorted(nums + nums))

[2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7]

In [67]:
print(max(nums))

7

In [71]:
print(min(nums))

2

In [72]:
nested = [[1,2,3,4],[5,6,7],[8,9,10]]
print(nested[1])

[5, 6, 7]

In [74]:
print(nested[0][1])

2

In [75]:
print(nested[0:2])

[[1, 2, 3, 4], [5, 6, 7]]

In [76]:
names = [1,2,3,4,5]
print(names[:3])
print(names[0:3])
print(names[1:3])
print(names[1:4])

[1, 2, 3]
[1, 2, 3]
[2, 3]
[2, 3, 4]

In [77]:
word = ['1','2','3','4']
word[:]=[]
print(word)

[]

In [78]:
names[-1]

5

### Tuples
#### Unlike list, cannot be changed. Fixed elements. Ordered collection of elements. Access exactly same as list. However, all methods like append, pop etc will not be supported by tuples. 
##### So, why Tuples. Because in several situations, we do not want the data to be changed. Eg: Location of a place on earth, via lat and lng. This I do not want in a list. I would rather have it in tuples.

In [80]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [81]:
city_tuple = ("Mumbai", 18.99, 72.18)
print(city_tuple)

('Mumbai', 18.99, 72.18)

In [82]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.99, 72.18)

In [83]:
new_tuple[1] = 13.77

TypeError: 'tuple' object does not support item assignment

In [88]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.99)
2

In [91]:
c = list(b)
print("C is : {0}".format(c))
c = tuple(c)
print("c is now a tuple: {0}".format(c))

TypeError: 'list' object is not callable

In [96]:
list1 = ['abc']
list1.append('Python')
print(list1)

['abc', 'Python']

In [98]:
list1.append("Java")

In [101]:
del(tuple)

In [103]:
list1

['abc', 'Python', 'Java', 'Java', 'Java', 'Java']

In [104]:
tuple2 = tuple(list1.append("Java"))

TypeError: 'NoneType' object is not iterable