### Numpy is a library for scietific cimputing and data analysis. Stands for Numerical Python
Basic object is ndarray or simply array, which is a n-dimensional homogenous array. 
All elements in ndarray are to be of the same data type. Commonly numeric (float, integer)

In [2]:
import numpy as np

In [3]:
array_1d = np.array([2,4,5,6,7])
print(array_1d)

[2 4 5 6 7]

In [5]:
array_2d = np.array([[1,2,3],[3,4,5]])
print(array_2d)

[[1 2 3]
 [3 4 5]]

In numpy, dimensions are called axes. In a 2-d array as above, there are two axes. Having three elements each.
Axis = 0 -> Refers to rows
Axis = 1 -> Refers to columns

### Advantages for Numpy
Can write vectorized code.

In [6]:
list1 = [3,5,6,7]
list2 = [9,7,8,5]

product_list = list(map(lambda x,y: x*y, list1, list2))
print(product_list)

[27, 35, 48, 35]

In [7]:
# Using numpy
array1 = np.array([3,5,6,7])
array2 = np.array([9,7,8,5])
array3 = array1 * array2
print(array3)

[27 35 48 35]

Numpy clearly was easier in terms of functions and clarity of code.

In [8]:
help(np.ones)

Help on function ones in module numpy:

ones(shape, dtype=None, order='C')
    Return a new array of given shape and type, filled with ones.

    Parameters
    ----------
    shape : int or sequence of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: C
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.

    Returns
    -------
    out : ndarray
        Array of ones with the given shape, dtype, and order.

    See Also
    --------
    ones_like : Return an array of ones with shape and type of input.
    empty : Return a new uninitialized array.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.


    Examples
    --------
    >>> np.ones(5)
    array([ 1.,  1.,  1.,  1.,  1.])

    >>> np.ones((5,), dtype=int)
    array([1, 1, 1, 1, 1])

    >>> np.ones((2, 1))
    array([[ 1.],
           [ 1.]])

    >>> s = (2,2)
    >>> np.ones(s)
    array([[ 1.,  1.],
           [ 1.,  1.]])

In [11]:
np.ones((5,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [12]:
np.ones((5,3), dtype = np.int)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [13]:
np.zeros(4, dtype = np.int)

array([0, 0, 0, 0])

In [15]:
type(np.ones([1,1]))

numpy.ndarray

In [18]:
print(np.ones((3,4)))

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [19]:
np.random.random([3,4])

array([[0.57446755, 0.49612915, 0.96765459, 0.88681012],
       [0.12971951, 0.61688087, 0.82195178, 0.95368718],
       [0.63998831, 0.38816389, 0.4113177 , 0.10404498]])

In [27]:
numbers = np.arange(100,10, -10)
# StartValue, EndValue, Steps -- Does not include the endValue
numbers

array([100,  90,  80,  70,  60,  50,  40,  30,  20])

In [28]:
# Sometimes we do not know the step size, but we know the length of the output array
# Array of length 25, between 15 and 18 (with computed step size)
np.linspace(15,18,25)

array([15.   , 15.125, 15.25 , 15.375, 15.5  , 15.625, 15.75 , 15.875,
       16.   , 16.125, 16.25 , 16.375, 16.5  , 16.625, 16.75 , 16.875,
       17.   , 17.125, 17.25 , 17.375, 17.5  , 17.625, 17.75 , 17.875,
       18.   ])

In [31]:
np.linspace(10, 100, 9, dtype=int)

array([ 10,  21,  32,  43,  55,  66,  77,  88, 100])

In [32]:
arr=[1,2,3]
np.tile(arr,3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [36]:
np.tile(arr, (2,2))
# second param '2' is the number of times the array is being replicated. Not the column size

array([[1, 2, 3, 1, 2, 3],
       [1, 2, 3, 1, 2, 3]])

In [39]:
# start, end, (rows, columns)
np.random.randint(0,10,(4,4))

array([[1, 2, 4, 4],
       [7, 7, 6, 2],
       [5, 0, 4, 5],
       [7, 1, 1, 5]])

In [42]:
rand_array = np.random.random((100,20))

In [44]:
# prints only second row
print(rand_array[1,])

[0.16553379 0.38944153 0.82238755 0.75380626 0.44688602 0.15528623
 0.12569857 0.48346814 0.69917389 0.03090205 0.93289265 0.06418757
 0.1861461  0.96179369 0.61219705 0.80956429 0.19609731 0.66251415
 0.80820747 0.49503662]

In [47]:
print("shape: {}".format(rand_array.shape))
print("type: {}".format(rand_array.dtype))
print("Dimensions: {}".format(rand_array.ndim))
print("ItemSize: {}".format(rand_array.itemsize))

shape: (100, 20)
type: float64
Dimensions: 2
ItemSize: 8

In [58]:
# Starting value is 0 by default. End Value = 24 - 1
array_3d = np.arange(0,32).reshape(2,4,4)

In [59]:
print(array_3d)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]
  [12 13 14 15]]

 [[16 17 18 19]
  [20 21 22 23]
  [24 25 26 27]
  [28 29 30 31]]]